<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osiris - Login</title>
    <link rel="stylesheet" href="/static/style/FontAwesome/v4-font-face.min.css">
    <link rel="stylesheet" href="/static/style/utils.css">
    <link rel="stylesheet" href="/static/style/login.css">
    <link rel="icon" type="image/svg+xml" href="favicon.svg">
</head>
<body>
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form action="#" method="post" class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-51">
                {% if login %}
                    Login
                {% else %}
                    Signup
                {% endif %}
                </span>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                    <input class="input100" type="text" name="username" placeholder="Username">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                {% if not login %}
                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" name="confirm-password" placeholder="Confirm Password">
                    <span class="focus-input100"></span>
                </div>
                {% endif %}

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>
                    <div class="small-txt1">
                        {% if login %}
                            Do not have any account yet, <a href="/signup" class="txt1">Sign Up</a> instead.
                        {% else %}
                            Already have an account, <a href="/login" class="txt1">Login</a> instead.
                        {% endif %}
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        {% if login %}
                            Login
                        {% else %}
                            Signup
                        {% endif %}
                    </button>
                </div>

                {% if error %}
                <div class="flex-c w-full p-t-3 p-t-24 ">
                    <div class="error-txt1">
                        {{ error }}
                    </div>
                </div>
                {% endif %}
            </form>
        </div>

        <script src="/static/scripts/jquery-3.7.0.min.js"></script>
    </div>
</body>
</html>